.btnCommander{
  width:300px;
   height:70px; 
    cursor: pointer;
    margin-top: -92px;
    display: flex;
    margin-left:550px;
}
.container {
  position:relative;
  width: 100%;
  max-width: 1800px;
  padding:0px;
}

.container img {
  width: 100%;
  height: 100vh;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container .btn:hover {
  background-color: black;
}


.article-header{
    background-color: rgb(99, 4, 51);
    color: white;
    border: 3px solid  transparent;
    text-align: center;
    margin-top: -20px;
}

.section-content{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;



    
}

body{
    width: 100%;
}
#header{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 20px 50px;
    background: #e3e6f3;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.06); 
    z-index: 999;
    position: sticky;
    top:0;
    left:0;


}

footer{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
    color: #a2b5cd;
}

.buttonProduit{
    border: 0;
    background: #5448de;
    color: #f8f8f8;
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
}

footer.links>div{
    display: grid;
  gap: 10px;
  margin-bottom: 30px;
}
.image{
  
    width:  100px;
    height: 100px;
   

}
.cardProduit{
    margin-right: 10px;
   margin-top: 85px;
   width:250px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0/8%);
    height: 380px;
    margin-top: 30px;

}
.cardModeVente{
  margin-right: 10px;
 margin-top: 60px;
 width:300px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(0 0 0/8%);
  height: 210px;
  margin-top: 150px;
  margin-left: 100px;

}
.cardPanier{
  margin-right: 10px;
 margin-top: 80px;
 width:300px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(0 0 0/8%);
  max-height: 500px;
  margin-top: 30px;
 overflow: auto;
  }

.buttonCnx{
    border:0;
    background: black;
    color: #f8f8f8;
    font-family: inherit;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 70px;
    text-decoration: none;
    margin-right: 9px;
}
.buttonPanierQ{
    border:0;
    background: black;
    color: #f8f8f8;
    font-family: inherit;
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 70px;
    text-decoration: none;
    margin-left: 90px;
    margin-right: -84px;

}
.titre{
    box-shadow: 0 5px 5px rgb(0 0 0/8%);
    font-weight: bold;
    text-align: center;
    
}
.image{
   
     box-shadow: 0 5px 5px rgb(0 0 0/8%);
}
.item-description {
    margin: .5rem 0;
    font-size: .9rem;
    font-weight: 200;
}
.item-price {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.item-price sup {
    color: black;
}
.rating i {
    color: rgb(200, 142, 254);
    margin-bottom: 1rem;
}

.item-cart-btn {
    border: none;
    background-color: transparent;
    margin: 0 auto;
    width: 80%;
    border: 1px;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: rgb(200, 142, 254);
    color: #fff;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 200;
    position: relative;
    cursor: pointer;
    transition: all .3s linear;
    margin-bottom: 10px;
}

.item-cart-btn:hover {
    color: #fff;
    background-color: rgb(160, 110, 206);
}
.btn {
    outline: none;
    border: none;
  
    color: black;
    font-size: 15px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: -5px;
    margin-bottom: -5px;
}

.btn:hover {
    background-color: rgb(49, 58, 50);

}   
/* btn:hover heki bch ki nenzel 3la  yetbdl automatique couleur te3ha */
.footer {
    padding: 3px;
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(227, 240, 240);
}


sub {
    font-size: 14px;
    position: relative;
    color: black;
    right: 10px
}
.add-to-card {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #e65b00;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    
}
.icon{
    cursor: pointer;
    font-size: 25px;
    margin-top: -5px;

}





  
.bodyLogin__CLZ {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Jost", sans-serif;
  }
  .main {
    width: 350px;
    height: 580px;
    background: red;
    overflow: hidden;
    background: no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  }
  #chk {
    display: none;
  }
  .signup {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .label_login__CLZ {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .input_login__CLZ {
    width: 60%;
    height: 40px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .button_login__CLZ {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  .button_login__CLZ:hover {
    background: #6d44b8;
  }
  .login {
    height: 500px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
  }
  .login label {
    color: #573b8a;
    transform: scale(0.6);
  }
  
  #chk:checked ~ .login {
    transform: translateY(-580px);
  }
  #chk:checked ~ .login label {
    transform: scale(0.8);
  }
  #chk:checked ~ .signup label {
    transform: scale(0.6);
  }

.vide{
  text-align: center;
  font-weight: 900;
}

.btnValider {
  outline: none;
  border: none;
  color: white;
  background-color: #000;
  font-size: 15px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: -5px;
  margin-bottom: -5px;
}
.btnValider:hover {
  background-color: rgb(15, 15, 15);

} 
  